@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap");
body {
  margin: 0;
  background-color: rgb(18, 23, 37);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Chivo", sans-serif;
  height: 100vh;
}
